body{
    background-color: #15222e;
    padding-top: 70px;
}

.contact-info{
    display: flexbox;
    align-items: center;
    justify-content:flex-end;
}

#yellow {
    color: #fcbe24;
}

#blue {
    color: #5395CB;
}

#red {
    color: #B05B65;
}

.navbar-brand{
    font-size: 30px;
}

.italics{
    font-style: italic;
}

.bold{
    font-weight: bold;
}

.valid-feedback{
    color: #B05B65;
}

/* Loading Button is hidden on default */
#loadingButton{
    display: none;
}

/* Style for the disabled button (Submit Button) */
button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Show the loading spinner when active */
.show-loading #loadingButton {
    display: inline-block;
}

/* Hide submit button when loading */
.show-loading #submitButton {
    display: none;
}
