body{
    background-color: #15222e;
}

.contact-info{
    display: flexbox;
    align-items: center;
    justify-content:flex-end;
}

#yellow {
    color: #fcbe24;
}

#blue {
    color: #5395CB;
}

#red {
    color: #B05B65;
}